    * {
        margin: 0;
        padding: 0;
    }
    
    .navbar-brand {
        color: black;
    }
    
    .navbar {
        position: relative;
        display: block;
        border-radius: 0;
        padding: 30px;
    }
    
    .navbar-brand {
        font-size: 35px;
        color: #303030;
        letter-spacing: -1px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 12px 15px;
        border: 2px solid #bbb;
        width: 98%;
    }
    
    .btn1 {
        padding: 10px 30px;
        border: none;
        margin-bottom: 20px;
        background-color: #1279be;
        color: white;
    }
    /*Search CSS*/
    
    .navbar-nav a {
        font-size: 1.2em;
        color: #333;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid #bbb;
    }
    
    .navbar-nav li a:hover {
        color: blue;
        cursor: pointer;
        border: 2px solid blue;
        background: white;
    }
    
    .image,
    .img {
        display: block;
        background-image: url(../images/head_im.jpg);
        height: 600px;
        width: 100%;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image p,
    .img p {
        display: block;
        font-size: 20px;
        font-family: inherit;
        width: 50%;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    
    .img p {
        font-size: 30px;
        font-weight: 800;
    }
    
    footer {
        background-color: #333;
        padding: 40px 0px;
        color: #555;
        font-family: sans-serif;
    }
    
    .short-row {
        font-family: "PT SANS", sans-serif;
    }
    
    .short-row span,
    .location span,
    .menus span,
    .text span {
        color: #ccc;
        font-weight: 800;
        padding-top: 22px;
        padding-bottom: 22px;
        display: block;
        font-family: "PT SANS", sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
    }
    
    .wrap {
        background: #eee;
    }
    
    .location li p,
    .menus li a,
    .text p {
        color: #ccc;
        text-align: justify;
        font-family: "PT SANS", sans-serif;
        /*    text-decoration: none;*/
    }
    
    .short-row span,
    .short-row p {
        color: #333;
        font-size: 15px;
    }
    
    .short-row a {
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 1px;
        border-bottom: solid 1px #ccc;
        text-transform: uppercase;
    }
    
    ul {
        list-style: none;
    }
    
    .menus li {
        border-bottom: 1px solid #223;
        padding: 10px 0;
        /*    color: white;*/
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .menus li a {
        color: white;
        letter-spacing: 1px;
    }
    
    .menus li a:hover {
        text-decoration: none;
        color: #ccc;
    }
    
    .main-foot {
        display: block;
        background: white;
        color: #333;
        padding: 22px 0 10px 0;
    }
    
    .social li {
        display: inline;
    }
    
    .social i {
        color: #333;
    }
    
    .pic {
        height: 250px;
        width: 90%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .pic1 {
        background-image: url(../images/pic1.jpg);
    }
    
    .pic2 {
        background-image: url(../images/pic2.jpg);
    }
    
    .pic3 {
        background-image: url(../images/pic3.jpg);
    }
    
    .pic:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    
    .short-row {
        padding: 45px 0;
    }
    
    .short1 a {
        border: none;
    }
    /*Overlay*/
    
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        opacity: 0.96;
        top: 0;
        transition: 0.15s;
        left: 0;
        background-color: #111;
        overflow-y: hidden;
    }
    
    .search {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        opacity: 0.96;
        top: 0;
        transition: 0.15s;
        left: 0;
        background-color: #111;
        overflow-y: hidden;
    }
    
    .overlay-content {
        position: relative;
        top: 5%;
        margin: 0 auto;
        font-size: 30px;
        padding: 30px;
        width: 50%;
        text-align: center;
        margin-top: 30px;
    }
    
    .search-content {
        top: 18px;
        position: relative;
        padding: 12px;
    }
    
    .overlay-content a {
        padding: 20px;
    }
    
    .overlay a {
        color: white;
        border-bottom: 1px solid #ADD8E6;
        display: block;
    }
    
    .overlay a:hover,
    .overlay a:focus {
        border-bottom: 4px solid #fff;
        text-decoration: none;
    }
    
    .search {
        overflow-y: hidden;
    }
    
    .about {
        height: 450px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    hr {
        margin: 0;
    }
    
    .blogs .head,
    .blogs .date {
        padding: 0;
        font-size: 26px;
        letter-spacing: 0;
        font-family: sans-serif;
        text-transform: none;
    }
    
    .blogs .date {
        border-bottom: none;
        font-size: 15px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    
    .blogpic {
        height: 250px;
        width: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    
    .hamb button {
        position: absolute;
        top: 5px;
        right: 0;
        padding: 12px;
        border: none;
        background: #333;
        color: white;
    }
    
    .nav-stacked {
        text-align: center;
        background: #222;
        border: none;
        color: white;
    }
    
    .nav-stacked a {
        font-size: 16px;
        color: white;
    }
    
    #navres .nav li a:hover,
    #navres .nav-stacked li a:hover {
        background: #ddd;
        color: black;
    }
    
    .active a {
        background: #ddd;
        color: black;
    }
    
    @media only screen and (max-width: 894px) {
        .pic {
            margin: 0 auto;
        }
    }
    
    @media only screen and (max-width: 382px) {
        .pl {
            width : 100%;
            text-align: center;
        }
        .social {
            text-align: center;
            display: block;
            width: 100%;
        }
    }
    
    @media only screen and (min-width: 769px) {
        .hamb {
            display: none;
        }
    }
    
    @media only screen and (max-width: 769px) {
        .navbar-right {
            display: none;
        }
        .location li p,
        .menus li a,
        .text p,
        .short-row p,
        .arow p {
            font-size: 17px;
        }
        .location li p {
            text-align: center;
        }
        .short-row span,
        .location span,
        .menus span,
        .text span {
            font-size: 17px;
            text-align: center;
        }
        .short-row span,
        .text span {
            text-align: left;
        }
        .navbar {
            padding: 0px;
        }
        .image {
            height: 200px;
            padding: 0px;
        }
        .image p {
            width: 90%;
            font-size: 17px;
        }
        .pic,
        .img {
            height: 150px;
            width: 100%;
        }
        .menus {
            text-align: center;
        }
        .text-cen span {
            border-top: 1px solid #555;
            text-align: center;
        }
        .text-cen .location span {
            border-top: none;
        }
        .blogpic {
            width: 60%;
        }
        .navbar {
            padding: 0;
            margin: 0;
        }
        .blogs .blogpic {
            height: 200px;
            width: 60%;
        }
    }
    
    @media screen and (max-height: 450px) {
        .overlay {
            overflow-y: auto;
        }
        .overlay a {
            font-size: 20px
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    
    @media only screen and (max-width: 370px) {
        .navbar-brand {
            font-size: 23px;
        }
        .blogs .head {
            font-size: 20px;
        }
        .blogs .blogpic {
            height: 200px;
        }
        .blogs .blogpic {
            height: 180px;
            width: 80%;
        }
    }
